root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/genteelbeacon"
  cmd = "go tool templ generate ./internal/templates && go build -ldflags \"-X github.com/schildwaechter/genteelbeacon/internal/config.BuildVersion=$(cat VERSION|sed 's/dev//')local\" -o ./tmp/genteelbeacon ./cmd/genteelbeacon"
  delay = 1000
  exclude_dir = ["assets", "k8s", "tmp", "vendor", "testdata"]
  exclude_file = ["internal/templates/telegrams_templ.go"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "APP_ADDR=\"127.0.0.1\" GENTEEL_ROLE=\"schildwaechter\" GENTEEL_CLOCK=\"http://localhost:1333\" ./tmp/genteelbeacon"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "templ", "html"]
  include_file = ["internal/templates/telegrams.templ"]
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
