<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Service}}</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #333;
        }

        canvas {
            border: 1px solid black;
            background: url('assets/background.png') no-repeat center center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <canvas id="myCanvas"></canvas>
    <script>
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');
        const img = new Image();
        img.src = 'assets/background.png';
        img.onload = function () {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);
            ctx.font = '20px Courier New';
            ctx.fillStyle = '#333';

            ctx.fillText('{{ .FormVersion }}', canvas.width - 270, 270);
            ctx.fillText('»{{ .Service}}«', canvas.width - 420, 323);

            ctx.fillText('{{ .Message }}', 222, 456);
            ctx.fillText('emoji> {{ .Emoji }}', 222, 546);
            ctx.fillText('clock> {{ .ClockReference }}', 222, 636);

            ctx.fillText('{{ .Telegraphist }}', 260, canvas.height - 103);
            ctx.fillText('{{ .Identifier }}', 260, canvas.height - 56);
        };
    </script>
</body>

</html>
